[data-elm-hot=true] {
    height: inherit
}

body {
    color: #293c4b;
    font-family: Handlee, cursive;
    margin: 0;
    text-align: center
}

.letter-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.hangman-image {
    width: 25vw;
    height: 25vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/game_background.0bcec96b.png")
}

.hangman-image.i1 {
    background-image: url("../media/game_background1.c3947b62.png")
}

.hangman-image.i2 {
    background-image: url("../media/game_background2.58094722.png")
}

.hangman-image.i3 {
    background-image: url("../media/game_background3.46716c72.png")
}

.hangman-image.i4 {
    background-image: url("../media/game_background4.9b742495.png")
}

.hangman-image.i5 {
    background-image: url("../media/game_background5.845f02ba.png")
}

.hangman-image.i6 {
    background-image: url("../media/game_background6.96e0b054.png")
}

.win-loss-modal {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    height: 50vw;
    justify-content: center;
    left: 50%;
    margin-left: -25vw;
    margin-top: -25vw;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    transition: opacity .5s ease-in;
    width: 50vw;
    z-index: 10;
    box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49);
    -webkit-box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49);
    -moz-box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49)
}

.win-loss-modal.displayed {
    opacity: 1;
    pointer-events: all
}

button {
    background-color: transparent;
    font-family: Handlee, cursive;
    font-size: 1.5rem;
    height: 45px;
    margin: 34px 4px 4px;
    min-width: 45px;
    box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49);
    -webkit-box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49);
    -moz-box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49)
}

button.guess-button {
    font-weight: 700
}

button.guess-button.incorrect {
    background-color: rgba(255, 0, 0, .5)
}

button.guess-button.correct {
    background-color: rgba(0, 255, 0, .5)
}

button:active {
    box-shadow: -3px 3px 9px 0 rgba(0, 0, 0, .49);
    -webkit-box-shadow: -3px 3px 9px 0 rgba(0, 0, 0, .49);
    -moz-box-shadow: -3px 3px 9px 0 rgba(0, 0, 0, .49)
}

.hint-text {
    background-color: hsla(0, 0%, 100%, .5);
    box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49);
    -webkit-box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49);
    -moz-box-shadow: -6px 7px 9px 0 rgba(0, 0, 0, .49);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 24px 0
}

.character-display {
    display: inline-block;
    border-bottom: 2px solid #000;
    font-size: 5vh;
    font-weight: 700;
    margin: 28px 4px 14px;
    width: 5vw;
    height: 5vh
}

.view {
    background-image: url("../media/paper_texture.7fac5f2d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    padding: 0 5% 5%;
    width: 100vw
}

.loading-view {
    font-size: 2rem
}

.loading-view .loading-icon {
    color: #000;
    font-size: 20vw;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}