/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}

body {
    color: #293c4b;
    font-family: 'Handlee', cursive;
    margin: 0;
    text-align: center;
}

.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hangman-image {
    width: 25vw;
    height: 25vw;
}

.win-loss-modal {
    align-items: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: -6px 7px 9px 0px rgba(0, 0, 0, 0.49);
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50vw;
    justify-content: center;
    left: 50%;
    margin-left: -25vw;
    margin-top: -25vw;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    transition: opacity 0.5s ease-in;
    width: 50vw;
    z-index: 10;

    &.displayed {
        opacity: 1;
        pointer-events: all;
    }
}

// Global button style

button {
    background-color: transparent;
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    height: 45px;
    margin: 34px 4px 4px 4px;
    min-width: 45px;
    box-shadow: -6px 7px 9px 0px rgba(0, 0, 0, 0.49);

    &.guess-button {
        font-weight: bold;

        &.incorrect {
            background-color: rgba(255, 0, 0, 0.5);
        }

        &.correct {
            background-color: rgba(0, 255, 0, 0.5);
        }
    }

    &:active {
        box-shadow: -3px 3px 9px 0px rgba(0, 0, 0, 0.49);
    }
}

// Text styles

.hint-text {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -6px 7px 9px 0px rgba(0, 0, 0, 0.49);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 24px 0px;
}

.character-display {
    display: inline-block;
    border-bottom: 2px solid black;
    font-size: 5vh;
    font-weight: bold;
    margin: 28px 4px 14px 4px;
    width: 5vw;
    height: 5vh;
}

// Views

.view {
    box-sizing: border-box;
    height: 100vh;
    padding: 0px 5% 5% 5%;
    width: 100vw;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

.loading-view {
    font-size: 2rem;

    .loading-icon {
        color: black;
        font-size: 20vw;

        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}