/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}

body {
    color: black;
    font-family: 'Handlee', cursive;
    margin: 0;
    text-align: center;
}

.letter-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.hangman-image {
    height: 25vw;
    width: 25vw;

    @media only screen and (max-width: 800px) {
        height: 75vw;
        width: 75vw;
    }

    // For extremely small screens
    @media only screen and (max-height: 490px) {
        height: 50vw;
        margin-top: -10%;
        width: 50vw;
    }
}

.win-loss-modal {
    align-items: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: -6px 7px 9px 0px rgba(0, 0, 0, 0.49);
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50vw;
    justify-content: center;
    left: 50%;
    margin-left: -25vw;
    margin-top: -25vw;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    transition: opacity 0.5s ease-in;
    width: 50vw;
    z-index: 10;

    &.displayed {
        opacity: 1;
        pointer-events: all;
    }

    @media only screen and (max-width: 800px) {
        height: 90vw;
        margin-left: -45vw;
        margin-top: -45vw;
        width: 90vw;
    }
}

// Global button style

button {
    background-color: transparent;
    box-shadow: -6px 7px 9px 0px rgba(0, 0, 0, 0.49);
    box-sizing: border-box;
    color: black;
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    height: 45px;
    margin: 16px 4px 4px 4px;
    min-width: 45px;

    &.guess-button {
        font-size: clamp(0.75rem, 3vw, 1.5rem);
        font-weight: bold;
        height: 8vw;
        margin: 0.5vw;
        max-height: 60px;
        max-width: 60px;
        min-width: unset;
        width: 8vw;

        &.incorrect {
            background-color: rgba(255, 0, 0, 0.5);
        }

        &.correct {
            background-color: rgba(0, 255, 0, 0.5);
        }
    }

    &.action-button {

        // For extremely small screens
        @media only screen and (max-height: 490px) {
            font-size: 1rem;
            height: 24px;
            margin: 12px 4px 4px 4px;
            min-width: 24px;
        }
    }

    &:active {
        box-shadow: -3px 3px 9px 0px rgba(0, 0, 0, 0.49);
    }
}

// Text styles

.hint-text {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -6px 7px 9px 0px rgba(0, 0, 0, 0.49);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 12px 0px;

    @media only screen and (max-width: 800px) {
        font-size: 1.15rem;
    }
}

.character-display {
    border-bottom: 2px solid black;
    display: inline-block;
    font-size: 5vh;
    font-weight: bold;
    height: 5vh;
    margin: 28px 4px 14px 4px;
    width: 5vw;

    @media only screen and (max-width: 800px) {
        margin: 4px;
    }
}

// Keyboard

.keyboard {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

// Views

.view {
    box-sizing: border-box;
    height: 100vh;
    padding: 0px 5% 5% 5%;
    width: 100vw;

    .background-image {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

.loading-view {
    box-sizing: border-box;
    font-size: 2rem;
    height: 100vh;
    padding: 10% 5% 5% 5%;
    width: 100vw;

    .loading-icon {
        color: black;
        font-size: 20vw;
        height: 20vw;
        left: 50%;
        margin-left: -10vw;
        margin-top: -10vw;
        position: fixed;
        top: 50%;
        width: 20vw;
        z-index: 10;

        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}